---

---

<section>
    <article>
        <blockquote>
            <p>I wanna change the world!</p>
        </blockquote>
    </article>
</section>

<style>

    blockquote p {
        width: min(100%, 65rem);
        font-size: var(--type-size-3);
        font-style: italic;
    }

</style>