/* COLOR TOKENS */

:root {
  --clr-text: var(--rose-bud-950);
  --clr-background: transparent;
}

body {
  color: var(--clr-text);
  background: var(--clr-sea-salt);
  font-family: var(--copy-font);
  font-size: var(--type-size-0);
  font-weight: 400;
}

[data-theme="sidebar"] {
  --clr-text: var(--rose-bud-50);
  --clr-background: linear-gradient(var(--rose-bud-600), var(--rose-bud-500));
}
/* HEADINGS */

[data-heading] {
  font-family: var(--heading-font);
  font-weight: 600;
}

[data-heading="title"] {
  color: var(--clr-neutral-110);
  font-size: var(--type-size-5);
  font-variant: small-caps;
  line-height: 1.25;
}

[data-heading="heading"] {
  font-size: var(--type-size-4);
  line-height: 1.25;
}

[data-heading="sub-heading"] {
  font-size: var(--type-size-3);
  line-height: 1.25;
}
[data-heading="card-heading"] {
  font-size: var(--type-size-2);
  line-height: 1.15;
}
[data-heading="tagline"] {
  font-size: var(--type-size-1);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 55%;
}

p[data-heading="tagline"] {
  font-size: var(--type-size--1);
}

p {
  max-width: 70ch;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
p:hover,
li:hover {
  cursor: default;
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

[data-icon] {
  color: var(--clr-text);
  width: var(--icon-size, 1rem);
}
